@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.noto-serif-normal{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  
}
/*shared style*/
.display-flex{
    display: flex;
}
/*black*/
.text-black{
    color:#252432;
    font-weight: bold;
}
/*dark 02*/
.text-gray{
    color: #8987A1;
}
.primary-color{
    color:#E95A08;
}
/*navbar start*/
.nav-bar{
   justify-content: space-between;
   margin: 20px auto;
   max-width: 1250px;
   
    
}
.list-link{
    justify-items: center;
    justify-content: center;
    align-items: center;
    
    
   
}
nav ul li{
    list-style: none;
    margin-right: 30px;
}
#shopping-card{
    margin-right: 8px;
}
/*Fresh Flower*/
.fresh-flower{
    margin-top: 70px;
}
.flower-section{
    max-width: 100%;
   margin: 140px;
   gap: 10px;
}
.flower-title{
      font-size: 3.75rem;
}
.flower-description{
    font-size: 1.25rem;
    margin-top: 20px;
}
/*Plants*/
.plants-section{
  justify-items: center;
  
}
.plant-title{
    font-size: 2.18rem;
    font-weight: 700;
}
.plant-description{
    font-size: 1.25rem;
    margin-top: 15px;
   text-align: center;

}
/*Plant-Card-Container*/
.card-container{
    max-width: 1150px;
    margin: 45px auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5px;   
}
.plant-card {
    align-items: center;
    justify-items: center;
}
.lily{
    font-size: 1rem;
    font-weight:200;
    margin-top: 10px;
}
.price{
    font-size: 1.06rem;
    font-weight: bold;
    margin-top: 10px;
}
.btn{
   background-color: #E95A08;
   color:white;
   width: 270px;
   height: 33px;
   border: none;
   margin-top: 16px;
   margin-bottom: 12px;
}
/*Flowers and Lover*/
#badge{
    width: 240px;
    height:240px;
    margin-left: 443px;
    margin-bottom: -122px;
    position: relative;

}
.badge-container{
    margin-top: -147px;
}




.flower-plant{
   max-width: 100%;
    margin: 170px 160px ;
     width: 1250px;

}
.plan-about{
    margin-left: -5px;
    width: 300px;
    margin-right: 268px;
    justify-content: center;
    justify-items: center;
    
    
}


.flower-plant img{
    width: 590px;
    height: 450px;
}
.lover-title{
    font-size: 50px;
    width: 470px;
    margin-top: -12px;
    margin-left: 124px;
}
.lover-description{
    font-size: 1.25rem;
    margin-top: 30px;
    margin: 21px;
    width: 400px;
}
.lover-description{
     margin-left: 118px;
}
/*latest-Deals*/
.latest-section{
  justify-items: center;

  
}
.latest-title{
    font-size: 2.18rem;
    font-weight: 700;
    margin-top: -75px;
}
.latest-description{
    font-size: 1.25rem;
    margin-top: 15px;
   text-align: center;

}

/*Latest-Deals-Box*/
.bloom{
    color: white;
    font-size: 0.8rem;
}
   a{
     color:white;
     font-size: 0.8rem;

}
.zabo-font{
    color:white;
    
}

.card{
   background-repeat: no-repeat; 

   
}
.card, a{
    text-align: center;
    justify-items: center;
    width: 360px;
    height:163px;
    margin-bottom: 19px;
    margin-left: -105px;
    border-radius: 10px;
   
}
.zabo {
     background-repeat: no-repeat;  
     width: 750px;
     height: 345px;
     margin-left: 20px;
     border-radius: 10px;
}
.row{
   display: grid;
 grid-template-columns: repeat(1,1fr); 
 
  
}
.zabo-text h2{
    align-items: center;
    justify-items: center;
    justify-content: center;
    
  
}

.latest-box{
    display: flex;
    margin: 50px 267px;
    width: 1140%;
}
/*Search Section*/
.branch{
    background-image: url(assets/news-letter-bg.png);
    margin-bottom: 50px;
    width: 1490px;
    height:398px;
    background-size: cover;
    text-align: center;
    padding: 170px;
   
}
.input-data{
   justify-content: center;
}

.branch-title{
    font-size: 2.18rem;
    color: white;
}
.wrapper{
    padding: 22px;
    
}
.input-data{
    height: 39px;
}
input{
    width: 540px;
}
.search-button{
    background-color:#E95A08;
    color: white;
    border: none;
    width: 130px;
}
/*Footer*/
.footer{
   max-width: 100%;
   margin-bottom: 50px;

}
.footer-section{
    margin: 6px 80px;
}
.footer-description{
    font-size: 1.25rem;
}
.footer-list{
    margin: 60px;
}
.icon-list{
    display: flex ;
    justify-content: center;
   
}
.list{
         display: inline-flex;
         gap: 10px;
}