*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*shared style*/
.display-flex{
    display: flex;
}

/*dark 02*/
.text-color{
    color: 8987A1;
}
/*navbar start*/
.nav-bar{
   
   
    
}
nav ul li{
    list-style: none;
}
